@import "src/scss/variables";
@import "src/scss/mixin";

.portfolioList {
  font-size: 18px;
  margin-right: 50px;
  padding: 7px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    border: 1px solid $accentColor;
    color: $black;
  }
}
